<ion-view title="loja" hide-nav-bar="true" id="page1" style="background-color:#Fffffff;">
  	<ion-content padding="false" class="manual-ios-statusbar-padding">
    <form id="loja-form2" class="list">
      <div id="loja-container1">
        <div id="loja-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:24px;">Sua loja virtual</p>
        </div>
      </div>
      <label class="item item-input" id="loja-search1" name="srcPesquisa">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Pesquisar produto...">
      </label>
      	<ion-item class="item-icon-left positive" id="loja-list-item2">
        <a href="resultaPesquisaCamisas.html"><i class="icon ion-ionic"></i>Camisas</ion-item></a>
      	<ion-item class="item-icon-left positive" id="loja-list-item1">
        <a href="resultaPesquisaBones.html""><i class="icon ion-ionic"></i>Bonés</ion-item></a>
      	<ion-item class="item-icon-left positive" id="loja-list-item4">
        <a href="resultaPesquisaBermudas.html""><i class="icon ion-ionic"></i>Bermudas</ion-item></a>
      	<ion-item class="item-icon-left positive" id="loja-list-item3">
        <a href="products_consult_Sapatos.html"><i class="icon ion-ionic"></i>Sapatos</ion-item></a>
    </form>
  </ion-content>
</ion-view>
