<ion-view title="resultadoPesquisa" hide-nav-bar="true" id="page3">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <form id="resultadoPesquisa-form6" class="list">
      <label class="item item-input" id="resultadoPesquisa-search3">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <div id="resultadoPesquisa-container2" class="creator-container">
    	<DIV CLASS="row">
			<div class=col-md-8>
					<div class=produto >
					    <h2>sapato bege<a href=""></a></h2>
					    <img src="../img/sapato bege.jpg">
						<p>preço: R$59,99</p>
						<p>sapato de salto alto</p>
					</div>
					<div class=produto >
					    <h2>sapato marrom <a href=""></a></h2>
					    <img src="../img/sapato marrom.jpg">
						<p>preço: R$59,99</p>
						<p>camisa de camurça confortável</p>
					</div>
					<div class=produto >
					    <h2>tenis preto<a href=""></a></h2>
					    <img src="../img/tenis preto.jpg">
						<p>preço: R$59,99</p>
						<p>tênis de corrida</p>
					</div>
				</div>	
		</DIV>
    </div>
  </ion-content>
</ion-view>