<ion-view title="resultadoPesquisa" hide-nav-bar="true" id="page3">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <form id="resultadoPesquisa-form6" class="list">
      <label class="item item-input" id="resultadoPesquisa-search3">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <div id="resultadoPesquisa-container2" class="creator-container">
    	<DIV CLASS="row">
			<div class=col-md-8>
					<div class=produto >
					    <h2>camisa verde<a href=""></a></h2>
					    <img src="../img/camisa verde.jpg">
						<p>preço: R$45,99</p>
						<p>camisa de algodão</p>
					</div>
					<div class=produto >
					    <h2>camisa vermelha<a href=""></a></h2>
					    <img src="../img/camisa vermelha.jpg ">
						<p>preço: R$45,99</p>
						<p>camisa de algodão confortável</p>
					</div>
					<div class=produto >
					    <h2>camisa rosa<a href=""></a></h2>
					    <img src="../img/camisa rosa.jpg">
						<p>preço: R$45,99</p>
						<p>camisa de algodão confortável</p>
					</div>
			</div>	
		</DIV>
    </div>
  </ion-content>
</ion-view>